:root{
	--Morado: #8A2BE2;
	--Fucsia: #FF00FF;
	--Rosa-suave: #FFC0CB;
	--Lila: #C8A2C8;
	--Rosa-claro: #FFB6C1;
	--Gris-claro: #D3D3D3;
	--Marron: #643c23;
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
	background: var(--Lila);
}
  
*::-webkit-scrollbar-thumb:hover {
	background: var(--Morado);
}

.navbar{
	background-color: var(--Lila) !important;
}

nav .logo{
    mix-blend-mode: luminosity;
    width: 250px;
}

section{
  min-height: calc(100vh - (73.5px + 78px));
}

section.home{
	height: calc(100vh - 151px);	
	background-color: var(--Marron);
}

@media(max-width:768px){
	section.home{
		min-height: 500px;
		height: 100%;
	}
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
  left: -110px;
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  min-height: calc(100vh - (168px + 56px));
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.slide-item.item-1{
	background-image: url('https://cdn.pixabay.com/photo/2016/01/08/05/24/sunflower-1127174_1280.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
}

.slide-item.item-1::after{
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, var(--Lila), rgba(0, 0, 0, 0.5), #D3D3D3);
	position: absolute;
	z-index: 1;
}

.slide-item h3{
	color: var(--Lila);
}

.slide-item h4{
	color: var(--Lila);
}

.slide-item p{
	color: var(--Lila);
	max-width: 1199px;
}

.text-normal{
	color: #fff !important;
}

.slide-item .slide-item-texts{
	filter: drop-shadow(0px 0px 4px var(--Morado));
	position: relative;
	z-index: 3;
	-webkit-filter: drop-shadow(0px 0px 4px var(--Morado));
}

/*BOOK STYLES*/

.book-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.book {
	--book-height: 75vh;
	--book-ratio: 1.4;
}

.book > div {
	height: var(--book-height);
	width: calc(var(--book-height) / var(--book-ratio));
	overflow: auto;
	background-color: #0a0a0a;
	transform: scale(0.9);
	border-radius: 6px;
	transform-origin: left;
}

.book-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9;
	text-align: center;
	background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, black 25%, transparent 25%),
		linear-gradient(45deg, black 25%, transparent 25%);
	background-size: 2em 2em;
	background-color: #232323;
	color: white;
	transition: transform 2s;
}

.book-cover::before {
	content: "";
	position: absolute;
	width: 20px;
	right: 20px;
	top: 0;
	bottom: 0;
	background-color: #b11509;
}

h1 {
	font-family: "Petemoss", cursive;
	font-size: 98px;
	font-weight: 300;
	color: #dbd75d;
}

h2 {
	font-size: 16px;
}

.separator {
	--separator-size: 8px;
	width: var(--separator-size);
	height: var(--separator-size);
	background-color: #dbd75d;
	margin: 50px auto 60px auto;
	border-radius: 50%;
	position: relative;
}

.separator::after,
.separator::before {
	content: "";
	position: absolute;
	width: 12px;
	background-color: white;
	height: 2px;
	top: calc(50% - 1px);
}

.separator::after {
	left: 15px;
}

.separator::before {
	right: 15px;
}

.book-content {
	transform: scale(0.9) translateY(30px);
	background-color: white !important;
	transition: all 0.3s 1s;
}

.book-content h3,
.book-content p {
	opacity: 0;
	transition: all 0.3s 0.3s;
}

h3 {
	padding: 30px;
}

p {
	padding: 0px 30px 10px 30px;
	text-align: justify;
	font-size: 14px;
}

.book-cover > div {
	transition: opacity 0s 0.6s;
}

.book:hover > .book-cover {
	transform: rotateY(180deg) scale(0.9);
}

.book:hover > .book-cover > div {
	opacity: 0;
}

.book:hover > .book-content {
	transform: scale(0.9) translateY(0px);
}

.book:hover > .book-content h3,
.book:hover > .book-content p {
	opacity: 1;
}

/*BOO STYLES END*/

.autoplay-progress svg{
	stroke: var(--Lila) !important;
}

.autoplay-progress span{
	color: var(--Morado) !important;
}

.swiper-pagination-bullet-active{
	background-color: var(--Lila);
}

.swiper-button-prev, .swiper-button-next{
	color: var(--Lila);
}

.book-self{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
}

@media(max-width: 991px){
	.book-self{
		grid-template-columns: 1fr;
	}
}

.book-self .book-self__image{
	display: flex;
	justify-content: center;
	align-items: center;
}

@media(max-width: 991px){
	.book-self .book-self__image{
		margin-bottom: 14px;
	}
}

.book-self__text h3{
	color: var(--Lila);
}

@media(max-width: 991px){
	.book-self__text p, .book-self__text h3{
		text-align: center !important;
	}
}

footer{
	background-color: var(--Gris-claro);
}